.ant-tabs .ant-tabs-ink-bar {
    background: #FFD702;
}
.ant-tabs .ant-tabs-nav::before {
    border-bottom-color: rgba(255, 255, 255, 0.65);
}
.ant-list-item {
    border-block-end: 1px solid #373A45 !important;
}
